[init]
	defaultBranch = main

[alias]
    ini = init
    cl = clone
    co = checkout
    b = branch
    br = branch
    cln = remote prune origin

    pl = pull
    a = add
    ad = add
    df = diff
    ts = status
    sh = stash
    rs = reset

    c = commit
    cm = commit
    amd = commit --amend --no-edit
    ps = push
    ps-u-m = push --set-upstream origin main
    ps-f-l = push --force-with-lease
    mr = merge

    lg = log --oneline --graph --decorate --all

[core]
	excludesfile = ~/.gitignore_global
