---
- name: "Set Node.js version variable from file"
  ansible.builtin.slurp:
    src: "{{ local_config_root }}/nodejs/common/.nvmrc"
  register: nodejs_version_file

- name: "Set Node.js version fact"
  ansible.builtin.set_fact:
    nodejs_version: "{{ nodejs_version_file.content | b64decode | trim }}"

- name: "Setup Node.js platform"
  ansible.builtin.include_tasks: platform.yml
  when: "'nodejs-platform' in ansible_run_tags"

- name: "Install Node.js tools and packages"
  ansible.builtin.include_tasks: tools.yml
  when: "'nodejs-tools' in ansible_run_tags"

- name: "Install and configure Node.js LLM tools"
  ansible.builtin.include_tasks: llm.yml
  when: "'llm' in ansible_run_tags"
