# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor-specific files
# Aider specific ignores
.aider.tags.cache.v4/*
.aider.chat.history.md
.aider.input.history
*.swp
*.swo
*~

# Log files
*.log

# Environment variables
.env

# Ignore SSH keys and sensitive config files
*.pem
id_*
*.pub
*.conf

# Temporary directory
.tmp/*

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
