[submodule "config/common/aiding/slash/commands/async-sdd-slashes"]
	path = config/common/aiding/slash/commands/async-sdd-slashes
	url = https://github.com/akitorahayashi/async-sdd-slashes.git
	# tag: v1.0.0
