{{ section("Layer Contracts", include_required(".jules/roles/integrator/contracts.yml")) }}
{{ section("Task", include_required(".jules/roles/integrator/tasks/integrate_implementer_branches.yml")) }}
{{ section("Target Branch", target_branch) }}
{{ section("Candidate Branches", candidate_branches) }}
{{ section("Repository", repository) }}
