---
- name: "Install goenv"
  community.general.homebrew:
    name: goenv
    state: present
  tags: [brew-deps]

- name: "Install specified Go version with goenv"
  ansible.builtin.command:
    cmd: "goenv install {{ go_version }} --skip-existing"
  args:
    creates: "{{ ansible_env.HOME }}/.goenv/versions/{{ go_version }}"
  changed_when: false
  environment:
    PATH: "/opt/homebrew/bin:{{ ansible_env.PATH }}"
    GOENV_ROOT: "{{ ansible_env.HOME }}/.goenv"

- name: "Get current global Go version"
  ansible.builtin.command:
    cmd: "goenv global"
  register: go_current_global
  changed_when: false
  environment:
    PATH: "/opt/homebrew/bin:{{ ansible_env.PATH }}"
    GOENV_ROOT: "{{ ansible_env.HOME }}/.goenv"

- name: "Set global Go version"
  ansible.builtin.command:
    cmd: "goenv global {{ go_version }}"
  changed_when: "go_current_global.stdout | trim != go_version"
  environment:
    PATH: "/opt/homebrew/bin:{{ ansible_env.PATH }}"
    GOENV_ROOT: "{{ ansible_env.HOME }}/.goenv"
