---
- name: Ensure .ssh directory exists with correct permissions
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.ssh"
    state: directory
    mode: "0700"

- name: Ensure .ssh/conf.d directory exists with correct permissions
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.ssh/conf.d"
    state: directory
    mode: "0700"

- name: Symlink main ssh config file
  ansible.builtin.file:
    src: "{{ local_config_root }}/ssh/common/config"
    dest: "{{ ansible_env.HOME }}/.ssh/config"
    state: link
    force: true

- name: Find ssh config files in conf.d
  ansible.builtin.find:
    paths: "{{ local_config_root }}/ssh/common/conf.d"
    patterns: "*.conf"
  register: ssh_conf_files

- name: Symlink individual ssh config files
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "{{ ansible_env.HOME }}/.ssh/conf.d/{{ item.path | basename }}"
    state: link
    force: true
  loop: "{{ ssh_conf_files.files }}"
