---
- name: Ensure .ssh directory exists with correct permissions
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.ssh"
    state: directory
    mode: "0700"

- name: Ensure .ssh/conf.d directory exists with correct permissions
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.ssh/conf.d"
    state: directory
    mode: "0700"

- name: Copy main ssh config file
  ansible.builtin.copy:
    src: "{{ role_path }}/config/common/config"
    dest: "{{ ansible_env.HOME }}/.ssh/config"
    force: true
    mode: "0644"

- name: Copy individual ssh config files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/.ssh/conf.d/{{ item | basename }}"
    force: true
    mode: "0644"
  with_fileglob:
    - "{{ role_path }}/config/common/conf.d/*.conf"
