{{ section("Role", include_required(".jlo/roles/observers/" ~ role ~ "/role.yml")) }}
{{ section("Layer Contracts", include_required(".jules/roles/observers/contracts.yml")) }}
{{ section("Task: Observe", include_required(".jules/roles/observers/tasks/observe.yml")) }}
{{ section("Task: Bridge Comments", bridge_task) }}
{{ section("Workstation Perspective", include_required(".jules/workstations/" ~ role ~ "/perspective.yml")) }}
{{ section("Change Summary", include_optional(".jules/exchange/changes.yml")) }}
