<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDECodeSnippetRepositoryMacroDefinitions</key>
	<dict>
		<key>FILEHEADER</key>
		<string>//
//  __FILENAME__
//  __PROJECT_NAME__
//
//  Created by __FULLUSERNAME__ on __DATE__.
//

</string>
		<key>MARK</key>
		<string>#pragma mark - __MARK__</string>
	</dict>
</dict>
</plist>
