[user]
    name = akitorahayashi
    email = atora.has75@gmail.com

[alias]
    cl = clone
    co = checkout
    br = branch
    mr = merge

    ad = add
    df = diff
    ts = status
    sh = stash
    rs = reset

    cm = commit
    ps = push
    pl = pull

    lg = log --oneline --graph --decorate --all

[github]
    user = terrio32
    
[core]
	excludesfile = ~/.gitignore_global
