[init]
	defaultBranch = main

[alias]
    cl = clone
    co = checkout
    b = branch
    br = branch
    mr = merge

    ad = add
    df = diff
    ts = status
    sh = stash
    rs = reset

    cm = commit
    ps = push
    pl = pull

    lg = log --oneline --graph --decorate --all

[core]
	excludesfile = ~/.gitignore_global
