name: Lint and Test

on:
  workflow_call:

jobs:
  lint-and-test:
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup base environment
        uses: ./.github/actions/setup-base

      - name: Install shell tools
        run: brew install shellcheck shfmt

      - name: Run tests
        run: just test

      - name: Run Linters
        run: just check
